[Unit]
Description=Remapper
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 -m pydevd --host 0.0.0.0 --port 5678 -u /home/pi/bthidhub/remapper.py
#ExecStartPost=/usr/bin/bash -c 'echo none > /sys/class/leds/ACT/brightness'
#ExecStopPost=/usr/bin/bash -c 'echo heartbeat > /sys/class/leds/led0/trigger'
#sudo echo 0 | sudo tee /sys/class/leds/ACT/brightness > /dev/null
StandardOutput=file:/home/pi/bthidhub/stdout.log
StandardError=file:/home/pi/bthidhub/stderr.log
WorkingDirectory=/home/pi/bthidhub
Restart=on-abort
# Set the process priority to real-time
Nice=-20
CPUSchedulingPolicy=rr
CPUSchedulingPriority=99
 
[Install]
WantedBy=multi-user.target
